<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>編集: {{ post.title }}</title>
  </head>
  <body>
    <h1>投稿を編集</h1>
    <form method="post">
      <p>
        タイトル:
        <input type="text" name="title" value="{{ post.title }}" required />
      </p>
      <p>内容:</p>
      <p>
        <textarea name="content" rows="10" cols="50" required>
{{ post.content }}</textarea
        >
      </p>
      <button type="submit">更新する</button>
    </form>
    <br />
    <a href="{{ url_for('post_detail', post_id=post.id) }}">戻る</a>
    <br />
    <a href="{{ url_for('index') }}">投稿一覧に戻る</a>
  </body>
</html>
