<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>新規投稿</title>
  </head>
  <body>
    <h1>新規投稿</h1>
    <form method="post">
      <p>タイトル: <input type="text" name="title" required /></p>
      <p>内容:</p>
      <p>
        <textarea name="content" rows="10" cols="50" required></textarea>
      </p>
      <button type="submit">投稿する</button>
    </form>
    <br />
    <a href="{{ url_for('index') }}">戻る</a>
  </body>
</html>
