<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>{{ post.title }}</title>

  <!-- OGPメタタグ -->
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta property="og:description" content="{{ post.content[:100] }}..." />
  <meta property="og:image" content="{% if post.image %}
        {{ url_for('static', filename='uploads/' ~ post.image, _external=True) }}
      {% else %}
        {{ url_for('static', filename='hypomyces.jpg', _external=True) }}
      {% endif %}" />
  <meta property="og:site_name" content="1m4nimのブログ" />
</head>

<body>
  <h1>{{ post.title }}</h1>

  {% if post.image %}
  <img src="{{ url_for('static', filename='uploads/' ~ post.image) }}" alt="{{ post.title }}"
    style="max-width: 500px" />
  {% endif %}

  <p>{{ post.content }}</p>
  <p>投稿日: {{ post.created_at.strftime("%Y-%m-%d") }}</p>
  <a href="{{ url_for('index') }}">一覧に戻る</a>
</body>

</html>